html, #app {
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-container {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.chatroom-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  margin-top: 2%;
}

.chatroom-outer {
  height: 100%;
}

.chatroom-inner {
  height: 100%;
}

.chatbox {
  width: 100%;
  /* background-color: #dfdfdf;   */
  padding: 5px;
}

.input {
  width: 85%;
}